<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Computador</title>
</head>
<body>
	<form action="../ComputadorController">
		<input type="text" name="nomeComputador" id="nomeComputador"
			placeholder="Digite o nome do computador"> <input type="text"
			name="ipComputador" id="ipComputador"
			placeholder="Digite o ip do computador"> <select
			id="salaComputador" name="salaComputador">
			<option>100</option>
			<option>200</option>
			<option>300</option>
			<option>400</option>
			<option>500</option>
			<option>600</option>
			<option>700</option>
		</select> <select id="blocoComputador" name="blocoComputador">
			<option>A</option>
			<option>B</option>
			<option>C</option>
			<option>D</option>
			<option>E</option>
			<option>F</option>
			<option>G</option>
		</select> <input type="number" id="memoriaComputador" name="memoriaComputador"
			placeholder="Quantidade de memória RAM">
		<textarea name="descricaoComputador" id="descricaoComputador"
			placeholder="Descrever sobre o computador"></textarea>
		<input type="submit" value="opcao" name="opcao"> 
		
		<input type="Reset" value="Limpar">
	</form>

</body>
</html>